
Plugins>ImageJ on GPU (CLIJ)>Measure,              "-",                  null

Plugins>ImageJ on GPU (CLIJ)>Measure,              "Histogram on GPU",                  net.haesleinhuepf.clij.histogramplugin.Histogram
Plugins>ImageJ on GPU (CLIJ)>Threshold,            "Automatic threshold on GPU",         net.haesleinhuepf.clij.histogramplugin.AutomaticThreshold
